


body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	font-weight:normal;
}

body, html {
	height:100%;
	width:100%;
	position: relative;
}

a {
	color:#6DCAED;
	font-weight: 400;
	

}

a:hover {
    text-decoration: none;
    color: #ccc;
	
	    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 20px;
	margin-bottom: 15px;
}


h1 {
    font-size: 1.5em;
    margin-top: 0;
    font-weight: 600;
}
h2 {
    font-size: 1.3em;
    display: inline-block;
    border-radius: 3px;
	font-weight:bold;
}

h3 {
    font-size: 1.2em;

}

.btn  {
	vertical-align:bottom;
	padding:3px 12px;
	font-weight:bold;
	
		-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	

}


.btn:hover {
	color:#fff;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn i {
	margin:0 5px 0 0;
}


.section {
	margin: 0 0 40px 0;
}

.btn-custom-blue {
	position: relative;
	margin: 0px 3px 0px 0px;
	color: #FFF;
	text-decoration: none;
	background:#6dcaed;	
	border-bottom: 3px solid rgba(63, 156, 201,1);
}

.btn-custom-blue:active
{
	transform: translate(0px,3px);
	-webkit-transform: translate(0px,3px);
	border-bottom: 1px solid;
}


.btn-custom-green {
	position: relative;
	margin: 0px 3px 0px 0px;
	color: #FFF;
	text-decoration: none;
	background:#3BC200;	
	border-bottom: 3px solid rgba(41, 152, 0,1);
}

.btn-custom-green:active
{
	transform: translate(0px,3px);
	-webkit-transform: translate(0px,3px);
	border-bottom: 1px solid;
}

.btn-custom-red {
	position: relative;
	margin: 0px 3px 0px 0px;
	color: #FFF;
	text-decoration: none;
	background:#E55E5C;	
	border-bottom: 3px solid rgba(202, 58, 52, 1);
}

.btn-custom-red:active
{
	transform: translate(0px,3px);
	-webkit-transform: translate(0px,3px);
	border-bottom: 1px solid;
}






/**********************************************************************
Rounded avatars
The starting image needs to be a square
**********************************************************************/


.avatar{
    float: left;
/*    margin-top: 1em;
    margin-right: 1em;*/
    position: relative;
    width:40px;
    height:40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.avatar2 {
	width:60px;
    height:60px;
}

.avatar_div{
    float: left;
    margin-top: 1em;
    margin-right: 1em;
}
.account-avatar{
    border-top: 20px;
}

.bad-avitar {
    box-shadow: 0 0 0 3px #E55E5C, 0 2px 5px 4px rgba(0,0,0,.2);
}
.medium-avitar {
    box-shadow: 0 0 0 3px #FF9400, 0 2px 5px 4px rgba(0,0,0,.2);
}
.good-avitar {
    box-shadow: 0 0 0 3px #8AC007, 0 2px 5px 4px rgba(0,0,0,.2);
}

/**********************************************************************
Colors
**********************************************************************/

.blue1 { background-color: #99D0EC; }
.blue2 { background-color: #6DCAED; }
.blue3 { background-color: #2B9DD7; }


.red1 { background-color: #E55E5C; }
.red2 { background-color: #B60000; }

.green1 { background-color: #C3EB50; }
.green2 { background-color: #3BC200; }
.green3 { background-color: #56B400; }
.green4 { background-color: #84B400; }

.orange1 { background-color: #FFD24D; }
.orange2 { background-color: #FF9500; }
.orange3 { background-color: #FF9400; }

.gray1 { background-color: #F8F8F8; }
.gray2 { background-color: #EEEEEE; }
.gray3 { background-color: #DDDDDD; }
.gray4 { background-color: #CCCCCC; }
.gray5 { background-color: #AAAAAA; }
.gray6 { background-color: #9D9D9D; }
.gray7 { background-color: #8F8F8F; }



/**********************************************************************
   Switch
**********************************************************************/

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 17px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 17px;
    background-color: #2FCCFF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 17px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 21px; margin: 7px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF; border-radius: 50px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}



/**********************************************************************
   avatar
**********************************************************************/

.img-circle {

}

.img-circle.small {
	width:42px;
	height:42px;
	border: 3px solid #c6eb5c;
}



/**********************************************************************
	Navbar
**********************************************************************/


.navbar-collapse {
	padding: 0 15px 0 0;
}


.navbar-inverse {
    height: 10px;
}

.navbar-default {
    background-color: #8f8f8f;
    border-radius: 0px;
    border: 0;
}

.navbar {
    min-height: 0;
}

.nav>li.active {
    margin-bottom: 0 !important;

}

.nav>li {
   margin: 8px 0 8px 8px;
    display: block;
    background-color: #9D9D9D;
    border-radius: 4px;
}

.nav>li>a {
    padding: 10px 7px;
    color: #ffffff !important;
    font-size: 12px;
    font-weight: 400;
}

.nav>li:hover {
    background-color: #666 !important;
}

.nav>li>a:hover{
    padding: 10px 7px;
    color: #ccc !important;
   }

.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
    background-color: #6DCAED !important;
    border-radius: 4px 4px 0 0;
    padding-bottom: 18px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	color: #555;
	background-color: #555;
}

@media (max-width:768px) {
	.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
		background-color: #6DCAED !important;
		border-radius: 4px;
		padding-bottom: 10px;
	}
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
	color: #fff;
	background-color: transparent;
	border-color: none;;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: 0; 
}



/**********************************************************************
Boxes
**********************************************************************/

.action-box {
	position:relative;
    width: auto;
    background-color: #EEEEEE;
    padding:10px;
	line-height: 1.8em;
    border-left: 6px solid #AAAAAA;
    font-size: 14px;
    border-radius: 4px;
    margin: 10px 0 15px 0;
	color: #6DCAED;
	font-weight: bold;
}

.task-box {
	position:relative;
    width: auto;
    background-color: #f8f8f8;
	line-height: 1.8em;
    border-left: 6px solid #AAAAAA;
	padding:10px;
    border-radius: 4px;
    margin: 10px 0 15px 0;
	color: #6DCAED;
	padding-bottom:25px;
	font-weight: bold;
}

.good-box {
    border-left: 8px solid #56B400;
}
.medium-box{
    border-left: 8px solid #FF9400;
}
.bad-box{
    border-left: 8px solid #E55E5C;
}

/**********************************************************************
Tags
**********************************************************************/
.control-tag {
    width: auto;
    background-color: #8f8f8f;
    padding: 2px 6px 2px 4px;
    border-left: 3px solid #666666;
	font-size: 13px;
    border-radius: 3px;
    color: white;
    margin: 0 4px;
    font-weight: 400;
}

.control-tag.blue {
	border-left:3px solid #6DCAED;
}

.control-tag.purple {
	border-left:3px solid #9326ff;
}

.control-tag.red {
	border-left:3px solid #E55E5C;
}



/**********************************************************************
risk badges
**********************************************************************/

.riskbadge {
    width: 70px;
    height: 30px;
    float: left;
    border-radius: 4px;
    /*box-shadow: -2px 0px 4px #999999;
    -webkit-box-shadow: -3px 0px 4px 0px rgba(52, 50, 50, 0.35);
    -moz-box-shadow:    -3px 0px 4px 0px rgba(52, 50, 50, 0.35);*/
    box-shadow:         -3px 0px 4px 0px rgba(52, 50, 50, 0.35);
    font-size: 10px;
    padding: 3px 3px 2px 3px;
    margin: 4px 0;
    text-align: center;
    font-weight: 600;
    line-height: 12px;
	text-transform: uppercase;

}

.riskgroup {
   
}
.inherent {
    background-color: #FF9400;
}

.risidual {
	background-color: #56B400;
    float: left;
}

.riskgroup .inherent {
    float: left;
    background-color: #FF9400;
    box-shadow: none;
    color: #666666;
	text-transform: uppercase;
	width: 85px;
}

.riskgroup .rate-number {
    text-align: left;
    font-size: 14px;
    color: #666666;
    padding: 8px 4px 2px 3px;
}

.riskgroup .risidual:hover{
    left: -10px;
}

.riskgroup .risidual {
    transition: left 0.5s ease;
    position: relative;
    left: -67px;
    float: left;
	text-transform: uppercase;
}


.riskbadge.risidual span.mid {
	line-height:24px;
}


.riskbadge .rate-number {
	float: left;
	margin-top: -2px;
	position:relative;
}

.riskbadge .rate-number:after {
	content: "";
	background: #ececec;
	height: 29px;
	width: 1px;
	position: absolute;
	top: 0;
	left: 17px;
}


.riskbadge.none {
	background:red;	
}

.riskbadge.gray {
	background:#b3b3b3;
}

.riskbadge.lightgreen {
	background:#caee5a;
}

.riskbadge.green {
	background:#8fbc00;
}

.riskbadge.yellow {
	background:#ffd857;
}

.riskbadge.orange {
	background:#ffa000;
}

.riskbadge.pink {
	background:#ea6864;
}

.riskbadge.red {
	background:#bc0200;
}










/**********************************************************************
Unimportant
**********************************************************************/
.square {
    width: 100px;
    height: 100px;
    float: left;
}



#sidebar {
	width:306px;
	float:left;
	top:0;
	left:0;
	min-height:100%;
	position: fixed;
	 background-color: #ddd;
    height:100%;
    min-height: 800px;
    -webkit-box-shadow: 3px 0px 7px 0px rgba(50, 50, 50, 0.69);
    -moz-box-shadow:    3px 0px 7px 0px rgba(50, 50, 50, 0.69);
    box-shadow:         3px 0px 7px 0px rgba(50, 50, 50, 0.69);
    z-index: 10000;
}

#sidebar .sidebar-inner {
	padding:10px;
}


#sidebar .sidebar-toggle {
	position: absolute;
	width: 40px;
	height: 40px;
	background: #444;
	right: -40px;
	top: 0px;
	display:none;
}

#sidebar .sidebar-toggle i {
	color: #fff;
	font-size: 26px;
	padding: 7px 11px;
}



@media (max-height:680px) {
	#sidebar .sidebar-inner {
		overflow-y:scroll;
		max-height:400px;
	}
}





#main-content {
	margin-left: 307px;
	padding: 0;
	padding-bottom: 52px;
	min-height: 500px;
}




/* logo */

.logo {
    height: 103px;
    background-color: #E9E9E9;
    margin: auto;
}


.logo img {
	padding: 18px 15px;
}










#task-group {
    background-color: #ddd;
	list-style: none;
	padding: 3px 0;
}



#task-group .date-time {
	position: absolute;
	bottom: 5px;
	right: 8px;
}

#task-group .date-time img{
	vertical-align: sub;
	margin: 0 7px;
}





.date-time.red {
	color:#E55E5C;
}

.date-time.green {
	color:#56B400;
}




.status {
	font-weight:600;
	color:#333;
}








/* label  */


.label {
	display: inline;
	padding: 0 5px;
	font-size: 100%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	background-color:#ec6563;
}





.inner-content {
	padding:20px;
}





/* .navbar  */

.navbar {	
	margin-bottom:0;
}

.nav>li {
	margin: 8px 10px 8px 0;
}

.navbar-default .navbar-nav>li>a {
	color: #777;
	text-transform: uppercase;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle {
	border-color: #fff;
}



/*  sub-nav  */

#sub-nav {
	background:#6dcaed;
	padding:14px 20px;	
}

.sub-menu {
	padding:0;
	margin:0;
	list-style:none;
}

.sub-menu i {
	font-size: 18px;
	vertical-align: text-bottom;
}

.sub-menu li{
	display:inline-block;
	position:relative;
	margin:0 10px 0 0;
}

.sub-menu li.back-arrow:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 18px;
	background-image:url(../img/back.png);
}

.sub-menu li.up-arrow:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 19px;
	background-image:url(../img/uparrow.png);
}

.sub-menu  li a{
	color:#fff;
	font-weight: bold;
}

.sub-menu  li a:hover{
	color:#f6f6f6;
	font-weight: bold;
	
}





/*  task-bar */

#task-bar {
	background:#eeeeee;
	padding:10px 20px;
	text-align: right;
}

.task-list {
	padding:0;
	margin:0;
	list-style:none;
}

.task-list li{
	display:inline-block;
	padding:1px 5px;
}

.task-list li:hover {
	opacity:0.5;
}

.task-list li.disable {
	opacity:0.2;
}





/* user */

.user {
	height: 20px;	
}

@media (max-width:1024px) {
	.user {
		display:none;
	}
}

.user-avatar {
	border:6px solid #bfe555;
	position: relative;
	width: 60px;
	height: 60px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.user-name {
	color:#fff;
	margin-right:10px;
	vertical-align: bottom;
	font-weight:bold;
}

.user button {
	background: transparent;
	color: #fff;
	border:none;
	padding: 2px 12px 10px;
}

.user button:hover, .user button:focus, .user button:active, .user button:visited {
	background: transparent;
	color: #fff;
	border:none;
}











/* content-heading */

.content-heading {
	min-height: 50px;
}

.content-heading .riskgroup {
	position:absolute;
}

.content-heading h1 {
	float: left;
	margin-left: 100px;
	margin-top: 8px;
}


.action-box .date-time {
	display:inline-block;
	margin-left: 10px;
}

.action-box .date-time img{
	margin: 0 5px;
	vertical-align: sub;
}


.action-box .on-off {
	position: absolute;
	right: 10px;
	top: 9px;
	
	color:#4eb800;
	font-weight:bold;
}

.action-box .on-off img{
	margin:0 5px;
}



/* left-content */

.left-content {
	
}


/* list-heading */

.list-heading {
	padding:0;
	margin:0;
	list-style:none;
}

.list-heading li{
	font-size:18px;
	padding:10px 0;
}

.list-heading li a{

}




/*  tag-list */

.tag-list {
	padding:0;
	margin:0;
	list-style:none;
}

.tag-list li{
	display:inline-block;
	background: url(../img/tag.png) no-repeat top left;
	width: 92px;
	height: 28px;
	padding: 6px 0 6px 21px;
	font-size: 12px;
}

.tag-list li.none {
	background:none;
	text-transform:uppercase;
}

.tag-list li.none img{
	margin:0 5px;
}

.tag-list li.none  a{
	font-weight:bold;
}









/* boxed-title */

.boxed-title {
	padding: 5px 10px 5px 0;
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	position:relative;
}

.boxed-title a{
	position:absolute;
	top:0;
	left: 122px;
}

/* draft-list */

.draft-list {
	margin:0;
	padding:0;
	list-style:none;
	background: url(../images/status.png) no-repeat 15px 26px;
}

.draft-list li {
	color: #fff;
	margin: 20px 0;
	background:#dddddd;
	display: table;
	padding: 4px 10px;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.draft-list i {
	margin: 0 5px 0 0;
}


.draft-list li.color1 { 
	background:#888888;
}

.draft-list li.color2 { 
	background:#aaaaaa;
}


.draft-list li.color3 { 
	background:#cccccc;
}

.draft-list li.red { 
	background:#ed5a4c;
}

.draft-list li.green { 
	background:#3bc200;
}




/* image-list */

.image-list {
	margin:0;
	padding:0;
	list-style:none;
}

.image-list li {
	position: relative;
	padding: 20px 0;
	clear: both;	
}

.image-list li img {
	/* border: 3px solid #c6eb5c; */
}

.image-list a {
}



/*  image-chart-list */

.chart-div {
	
}

.chart-div .legend {
	display:none;
}



/* initial-list */

.initial-list {
	margin:0;
	padding:0;
	list-style:none;
}


.initial-list li{
	position: relative;
	padding: 20px 0;
	clear: both;
}

.initial-list li .initial-box{
	border-radius: 50%;
	width: 46px;
	height: 46px;
	text-align: center;
	background: #d2d2d2;
	line-height: 42px;
	font-size: 16px;
	float: left;
	margin-right: 10px;
	margin-top: -10px;
	border: 3px solid #c6eb5c;
	box-shadow: inset 0px 4px 2px rgba(0,0,0,0.4);
	color: #fff;
}



/* search-box */

.search-box  {
	margin-top:-22px;
}

.search-box input {
	background: #fff url(../img/search.png) no-repeat 7px 6px;
	padding-left:28px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}



/* request-box */

.request-box {
	background:#f4f4f4;
	border-left:10px solid #e95c55;
	padding:20px;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	-webkit-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.41);
-moz-box-shadow:    0px 5px 8px 0px rgba(50, 50, 50, 0.41);
box-shadow:         0px 5px 8px 0px rgba(50, 50, 50, 0.41);
}



.request-title {
	
}

.request-title h3{
	float:left;	
	margin:0;
}

.request-title .date-time {
	float:right;
	font-weight: bold;
}

.request-title .date-time img{ 
	margin-right:5px;
}

.request-content {
	clear:both;
	padding: 20px 0;
}

.request-content p{
	margin-bottom:20px;
}

.request-image {
	float: right;
}

.request-image span{
	color:#6dcaed;
}

.request-image img {
	margin-top: -14px;
}




/* input theme */

.input-theme {
	-moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
	box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
	border: navajowhite;
}

select.select-theme {
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

}




/* Timeline  */


.cbp_tmtimeline {
    margin: 25px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
}

/* The line */
.cbp_tmtimeline li:before {
    content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 5px;
	background: #ccc;
	left: 40px;
	margin-left: -6px;
	min-height: 142px;
}

.cbp_tmtimeline li.first:before {
    content: '';
	position: absolute;
	top: 12px;
	bottom: 0;
	width: 7px;
	height: 120px;
	background-image: url(../img/time_bg.png);
	left: 40px;
	margin-left: -8px;
	min-height: 120px;
}

.cbp_tmtimeline > li {
    position: relative;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 15px 60px;
    padding: 1em;
    font-size: .9em;
    font-weight: 400;
    line-height: 1;
    position: relative;
    border-radius: 5px;
}

.cbp_tmtimeline > li .cbp_tmlabel .control-tag {
	display:inline-block;
	margin:0 2px;
}

.cbp_tmtimeline > li .cbp_tmlabel p{
    margin-top: -8px;
    line-height: 1.5em;
}

/* The avitars */
.cbp_tmtimeline > li .cbp_tmicon {
    width: 40px;
    height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #ccc;
    text-align: center;
    left: 40px;
    top: 0;
    margin: 0 0 0 -25px;
}

.cbp_tmtimeline li.last:before {
	background:none;
}




/* task-mobile  */

.task-mobile {
	color: #fff;
	font-size: 18px;
	margin: 15px;
	float: left;
	display:none;
}

.task-mobile:hover {
	color:#6dcaed;
	cursor:pointer;
}



/* nav-mobile */

.nav-mobile {
	float: right;
	padding: 16px 24px;
	font-size: 18px;
	color: #fff;
	display:none;
}

.nav-mobile:hover {
	color:#6dcaed;
	cursor:pointer;
}







@media (max-width: 1208px) {
	
	#sidebar {
		margin-left:-310px;
	}

	#main-content {
		margin-left:0;
		padding: 0;
	}
	
	#sidebar .sidebar-toggle {
		display:block;
	}
}



@media (max-width: 1024px) {



	.search-box {
		display:none;
	}

	.content-heading h1 {
		float:none;
		margin-left: 0;
	}

	.action-box .on-off {
		position:static;
		text-align:right;
	}

	.right-content {
		margin-top:40px;
	}

	.content-heading .riskgroup {
		display:inline-block;
		position:static;
	}




}


@media (max-width: 978px) { 
		
    #sidebar {
		width: 100%;
		position: relative;
		float: none;
		margin-left: 0;
		height: auto !important;
		min-height: initial;
	}
	

	.control-tag {
		margin-right: 10px;
	}

	

	.nav {
		padding-left: 25px; 
	}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
	}

	#task-bar {
		text-align:left;
	}



	.action-box .on-off {
		display: block;
		text-align: left;
	}
	
	.sidebar-inner { 
		display:none;
	}


	
	#sidebar .sidebar-toggle  {
		display:none;
	}
	

}


@media (max-width: 767px) {
	
	.task-mobile {
		display: block;
	}
	
	
	.nav-mobile {
		display:block;
	}
	
}




@media (max-width: 480px) {

	#task-bar div.pull-right {
		float:none !important;
	}
	
	.task-list {
		display: inline-block;
		margin: 10px 0 0;
	}
	
	.action-box .date-time {
		margin-left: 0;
	}
	
	
	
}














/* tags */

.tags{
	margin:0;
	padding:0;
	list-style:none;
	}
	
.tags li, .tags a{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
	
	}

.tags a{
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#e8e8ea;
	color:#666;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;	

	} 

.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #e8e8ea transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;

	}

.tags a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #e8e8ea;
	-webkit-box-shadow:-1px -1px 2px #e8e8ea;
	box-shadow:-1px -1px 2px #e8e8ea;

	}

.tags a:hover{background:#999; color:#fff; }	

.tags a:hover:before{border-color:transparent #999 transparent transparent;}	


/* Modal  */

.modal {
  z-index: 10001;
}

.modal-bottom{
  z-index: 10000;
}

.modal-header {
	background: #f5f5f5;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.modal-header .close {
	margin-top: -2px;
	color: #E55E5C;
	opacity: 1;
	font-weight: bold;
	font-size: 30px;
}

.modal-title  span{
	margin:0 10px 0 0;
}






/* alert  */

.alert {
	padding: 8px 10px;
}

.alert span {
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 10px;
	border-right: 1px solid #fff;
	margin-right: 5px;
	font-size: 16px;
}

.custom-alert-default {
    color: #fff;
    background-color: #cccccc;
	-webkit-box-shadow: -1px 3px 0px 0px rgba(50, 50, 50, 0.41);
	-moz-box-shadow:    -1px 3px 0px 0px rgba(50, 50, 50, 0.41);
	box-shadow:         -1px 3px 0px 0px rgba(50, 50, 50, 0.41);
}

.custom-alert-info {
    color: #fff;
    background-color: #5bc8f5;
	-webkit-box-shadow: -1px 3px 0px 0px rgba(63, 156, 201, 1);
	-moz-box-shadow:    -1px 3px 0px 0px rgba(63, 156, 201, 1);
	box-shadow:         -1px 3px 0px 0px rgba(63, 156, 201, 1);
}

.custom-alert-error {
    color: #fff;
    background-color: #ed5a4c;
	-webkit-box-shadow: -1px 3px 0px 0px rgba(202, 58, 52, 1);
	-moz-box-shadow:    -1px 3px 0px 0px rgba(202, 58, 52, 1);
	box-shadow:         -1px 3px 0px 0px rgba(202, 58, 52, 1);

}
.custom-alert-warning {
    color: #fff;
    background-color: #ff9500;
	-webkit-box-shadow: -1px 3px 0px 0px rgba(225, 117, 7, 1);
	-moz-box-shadow:    -1px 3px 0px 0px rgba(225, 117, 7, 1);
	box-shadow:         -1px 3px 0px 0px rgba(225, 117, 7, 1);
}

.custom-alert-notification {
    color: #fff;
    background-color: #3bc200;
	-webkit-box-shadow: -1px 3px 0px 0px rgba(41, 152, 0, 1);
	-moz-box-shadow:    -1px 3px 0px 0px rgba(41, 152, 0, 1);
	box-shadow:         -1px 3px 0px 0px rgba(41, 152, 0, 1);
}







/* icon */

.custom-icon {
	width:36px;
	height:36px;
	float: left;
}

.icon-tree {
	background:url(../img/tree.png) no-repeat top left;
}






/*  table participant */

#Participants .modal-footer {
	border-top:none;
}

.table-participant>thead>tr>th {
	vertical-align: bottom;
	border-bottom: none;
}

.table-participant>tbody>tr>td img.img-circle.small {
	float: left;
	margin-top: -11px;
}

.table-participant>thead>tr>th, .table-participant>tbody>tr>th, .table-participant>tfoot>tr>th, .table-participant>thead>tr>td, .table-participant>tbody>tr>td, .table-participant>tfoot>tr>td{
	border-top:none;
	padding-bottom:20px;
}

.table-participant>thead>tr>th {
	font-size:12px;
}

.table-participant  .form-control{
	border:none;
	box-shadow:none;
	padding: 6px 0;
	color: #6DCAED;	
	margin-top:-12px;
}

.table-participant span.blue {
	color:#6DCAED;
	padding: 0 10px;
}














